
#pyramidSlide {
  line-height: 0;
  font-size: 30px;
}

body {
  font-family: "Courier New", monospace;
  text-align: center;
  background-color: #D9DDDE;
  padding-left: 40px;
  padding-right: 40px;

}

header {
  background-color: #8A0917;
  height: 80px;
  padding: 20px;
  color: #ECF0F1;
  border: 2px solid #ACCFCC;
  border-radius: 5px;
}
label {
  color: #595241;
  font-weight: bold;
  padding: 20px;
  font-size: 1.5em;
}
#main {
  border: 2px solid #8A0917;
  border-radius: 5px;
  background-color: #CCCCCC;
  color: #595241;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

#menu {
  background-color: #BABABA;
  height: 60px;
  padding: 40px;
}
#heightOutput {
  font-weight: bolder;
  color: #595241;
  font-size: 1.5em;
}
#brickSelect{
  background-color: #CCCCCC;
  font-size: 1.25em;
  color: #595241;
}
